<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <img src="./assets/tblocksLogo.png" class="pull-left navbar-brand" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/attendance" routerLinkActive="active">Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Calender</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="#">Sign Out</a></li>
     </ul>
    </div>
  </nav>
  <main class="container-fluid" style="margin-top:5%">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
  <div class="text-center" style="vertical-align:central">
      <span>© Techblocks Inhouse Product</span>
  </div>
</footer>